html, body {
	height: 100%;
	margin: 0;
}

#benched {
	height: 1.5em;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

#notification {
	color: red;
}

#commentPics {
    border-radius: 50%;
    height: 2em;

}

#inputTitle {
    width: 30em;
}

#commentBody {
    /*color: red;*/
}

#commentTitle {
    font-weight: bold;
}

#followUs {
    background: rgb(247,247,247);
}

#intro {
    background: rgb(190,212,224);  
}

#num75 {
    width: 25em;
}

#benchedTitle {
    color: white;
}

#textAngularArea { 
  font-family: Consolas, monospace;
  white-space: pre;
  word-wrap: normal;
  padding: 0.1em 0.3em;
  border: solid thin;
  overflow: auto;
  width: 25em;
  width: 60ch;
}

.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  box-shdaow : none!important;
}

.ta-toolbar .btn {
  border-radius : 0;
  padding : 5px;
  min-width : 30px;
  background-color : #fff;
  color : #333;
}

[text-angular] { 
  position : relative;
}
.ta-toolbar { 
  position : relative ; /*change*/
  top : 0;
  right : 0;
}
@media all and (max-width: 699px) {
  .ta-toolbar { position : absolute; }
  .ta-editor { padding-top : 30px; }
}

@media all and (max-width: 250px) {
  .ta-toolbar { display : none; }
}
.ta-toolbar .btn-group { 
  margin : 0!important;
  //box-shadow : 0 1px 3px rgba(0,0,0,0.2);
}
.ta-editor {
  border :1px solid #EEE;
  border-raidus : 3px!important;
}
.ta-hidden-input {
    display: none;
}