html, body {
	height: 100%;
	margin: 0;
}

#benched {
	height: 1.5em;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

#notification {
	color: red;
}

#commentPics {
    border-radius: 50%;
    height: 2em;

}

#inputTitle {
    width: 30em;
}

#commentBody {
    color: red;
}

#commentTitle {
    color: blue;
    font-weight: bold;
}

#followUs {
    background: rgb(247,247,247);
}

#intro {
    background: rgb(190,212,224);  
}

#num75 {
    width: 25em;
}

#benchedTitle {
    color: white;
}
/*.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}*/

