<!-- {{testHome}} -->

<div class="container-fluid">
	<div class="row text-center">
		<div class="jumbotron" id='intro'>
			<img src="images/benchedPlayer.png" id='num75'>
			<div id='benchedTitle'>
			<h1>Benched Sports</h1>
			</div>
			<p>... Get on the bench!</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="about">
		<div class="col-sm-offset-1 col-sm-6">

			<h2>About</h2>

			<p>Benched was founded in a pub in Newcastle-under-Lyme, England a few years back. The pints consumed that evening make the memory slightly hazy... but we figured we would start up a website to waffle about all manner of sports. Since then, we have discussed in great depth zonal marking, the use of a target man, synthetic pitches and Jerry Jones’ ego... however have not yet entertained you with the discussions. Now we have this website, we can begin to do so...</p>

			<p>Hope you enjoy!</p>
		</div>
		<div class="col-sm-4" id='followUs'>
			<div class="text-center">
			<h1>Follow Us!</h1>
			<hr class="star-primary">

			<p>Twitter</p> <!-- setup API -->
			<p>Facebook</p> <!-- setup API -->

			</div>
		</div>
	</div>
</div>


